<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/css/globals2.css" />
        <link rel="stylesheet" href="../static/css/styles2.css" />
    </head>
    <body>
        <div class="macbook-pro">
            <div class="div">
                <div class="welcome-back">
                    <div class="overlap-group">
                        <div class="text-animation">
                            <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span> &nbsp;  <span>b</span><span>a</span><span>c</span><span>k</span>
                        </div>
                    </div>
                </div>
                <div class="lets-learn-animation">
                    <div class="overlap">
                        <div class="text-animation">
                            <span>L</span><span>e</span><span>t</span><span>'</span><span>s</span> &nbsp; <span>l</span><span>e</span><span>a</span><span>r</span><span>n</span> <span>.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
